body
{

margin: 0px;
}
.login
{
background-color: #ccc;
height: 50px;

}
.login a
{
float: right;
margin: 15px;
text-decoration: none;

}
.logo
{
	float: left;
	height: 50px;
    margin-bottom: 50px;
}



/*#a_id
{
	float: right;
	margin-left: 15px;
	margin: 30px;

}*/

table{
	float: right;
    margin-right: 30px;
    width: 40%;
    margin: 15px;
    
}
table tr th {
	
	
}
.p_div
{
width: 300px;
float: left;
margin: 15px;
text-align: justify;
}
.info_class
{
	background-color: #ccc; 
}
footer
{
clear: both;
height: 100px;
}
.first_div_footer {
background-color:#E6E6FA; 
}

.first_div_footer h5{
display: inline-block;

}

.first_div_footer img{

margin-left: 100px;
}
.div_footer_col{
	
	width: 20%;
    float: left;
    margin:30px;
    line-height: 100%;
    height: 100px;
    text-align: justify;
}
.l_footer
{
width: 100%;
height: 50px;	
line-height: 50px;
background-color:#E6E6FA;
float: left;
}
.l_footer p
{
height: 50px;
line-height: 50px;
float:left;
margin: 15px;

}
.l_footer img
{    
line-height: 50px;
height: 50px;
float: right;
margin-left: 50px;
margin: 10px;
}
